Synthesize {{ num_key_facts }} key facts or key pieces of insight from the following text, as if these facts will be used to generate quiz questions,while adhering to the following guidelines:
1. Keep facts brief, ideally between 20 and 30 words.
2. Focus less on the specific details(such as dollar amounts or names) and more on the main points.
3. Maintain all key terms and concepts specific to the subject matter.

{{text}}