Synthesize {{ num_key_facts }} key facts or key pieces of insight from the following text, as if these facts will be used in a trivia game show , 
knowledge bet is defined as a piece of information deemed more likely to be known by the audience than not.

Audience Context:
- Age [18-24, 50-65]
- Gender [Male, Female, Non-Binary]

Follow these guidelines:
1. Keep facts brief, ideally between 15 and 20 words.
2. Focus less on the specific details(such as dollar amounts or names) and more on the main points.
3. Maintain all key terms and concepts specific to the subject matter.
{{text}}